
@model MovieShopDAL.BE.Movie

@{
    ViewBag.Title = "Details";
}

<head><style>
    .coverDiv{
        width:20%;
    }
    .imgnoob{
         float:left;
        width:75%;

        height:300px;
        width:200px;
    }
     .dl-horizontal{
        float:left;
    }
   
    .container{
        margin-bottom:40px;
    }
    
    </style></head>
<div>
<h2>Details</h2>

<div class="container">
    <h4>Movie</h4>
    <hr />
    <div>
        <div class="coverDiv">
            <img class="imgnoob" src="@Model.ImageUrl" />
        </div>
    <dl class="dl-horizontal ">

        
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
        </div>
 
</div>
<object class="trailer" data="@Model.TrailerUrl"
        width="560" height="315"></object>
    </div>

<p  style="clear:both;">
    @Html.ActionLink("Back to List", "Index")&nbsp; | &nbsp;
    <a href='@Url.Action("Add", "ShoppingCart", new { id = Model.MovieId })' class="btn btn-success" role="button">BUY</a>
</p>
