@model MovieShopUser.ViewModels.MovieGenre

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/MyContent/imagessheet.css" />

    <style>
        div.voffset2 {
            margin-bottom: 65px;

        }

        #MyCover {
            height: 340px;
            width: 255px;
        }
    </style>
</head>

<br />
<br />

<h2><i>Movies</i></h2>

@using (Html.BeginForm())
{
    <p>
        @Html.DropDownList("GenreList",
        (SelectList)ViewBag.GenreList, "All",
        new { onchange = "javascript:this.form.submit()" })
    </p>
}
@*<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" >

    <ul class="nav nav-sidebar">
        @foreach(var item in Model.Genres)
        {
            <li><a href="#">@item.Name</a></li>
        }
      
    </ul>
   

</div>*@

<div>
    @foreach (var item in Model.Movies)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 voffset2">

            @if (item.ImageUrl.Count() < 1)
            { <div class="hovereffect" style="box-shadow:  9px 9px 5px 5px black; height: 340px;
            width: 255px;">
                <img class="img-responsive" id="MyCover" src="~/Content/Images/no.gif" alt="">
                <div class="overlay">
                    <h2>@item.Title</h2>
                    <a class="info" href='@Url.Action("Details", "Movies", new { id = item.MovieId })'><strong>Details</strong></a>
                    <a class="info" href='@Url.Action("Add", "ShoppingCart", new { id = item.MovieId })' style="background-color:limegreen;"><strong>BUY</strong></a>
                    <h3>@item.Price DKK</h3>
                </div>
            </div>}
            else
            {
                <div class="hovereffect" style="box-shadow:  9px 9px 5px 5px black; height: 340px;
            width: 255px;">
                    <img class="img-responsive" id="MyCover" src="@item.ImageUrl" alt="">
                    <div class="overlay">
                        <h2>@item.Title</h2>
                        <a class="info" href='@Url.Action("Details", "Movies", new { id = item.MovieId })'><strong>Details</strong></a>
                        <a class="info" href='@Url.Action("Add", "ShoppingCart", new { id = item.MovieId })' style="background-color:limegreen;"><strong>BUY</strong></a>
                        <h3>@item.Price DKK</h3>
                    </div>
                </div>
            }

        </div>

    }
</div>

